<div class="container">
  <div
    @stageInitialTransition
    *ngIf="!(result | async)"
    class="initial-stage stage"
  >
    <form (submit)="goToResult($event)" [formGroup]="form">
      <div class="form-group">
        <label class="label" for="text">Input your text:</label>

        <div class="input-wrapper">
          <input
            type="text"
            class="form-control"
            id="text"
            name="text"
            required
            formControlName="text"
          />

          <button
            type="button"
            class="emoji-picker"
            (click)="toggleEmojiSelector()"
          >
            {{ form.value.emoji ? "Change" : "Choose" }} emoji
          </button>

          <emoji-mart
            class="emoji-mart"
            *ngIf="emojiSelectorShouldBeShown | async"
            (emojiSelect)="emojiSelected($event)"
          ></emoji-mart>
        </div>

        <span
          @collapse
          *ngIf="form.invalid && form.touched"
          class="invalid-message"
        >
          Please input some text
        </span>
      </div>

      <div class="form-group">
        <span class="choosen-emoji">{{ form.value.emoji }}</span>
      </div>

      <button type="submit">Generate</button>
    </form>
  </div>

  <div
    @stageResultTransition
    *ngIf="result | async as result"
    class="result-stage stage"
  >
    <div class="result-header">
      <a routerLink="/" class="back-link"></a>
      <span class="space"></span>
      <button class="copy-button" (click)="copyResult(resultElement)">
        Copy
      </button>
    </div>

    <p class="result" #resultElement>
      <ng-container *ngFor="let char of result">
        <span [innerHTML]="char"></span>
        <br />
        <br />
      </ng-container>
    </p>
  </div>
</div>
